.section-title {
    h2 {
        font-size: 34px;
        padding-bottom: 40px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 12px;
            width: 110px;
            height: 1px;
            background-color: #d6dbe2;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 12px;
            width: 40px;
            height: 1px;
            background-color: #0cc652;
        }
        &:before, &:after {
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            color: black;
        }
    }
    p {
        font-family: 'Montserrat',sans-serif;
        color: #8b8e93;
        font-size: 14px;
        font-weight: 300;
    }
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',sans-serif;
    text-transform: capitalize;
}

