.blog-sidebar {
    padding-right: 50px;
    margin-top: 30px;
    .form_search {
        padding-bottom: 20px;
        .btn-search {
            background: 0 0;
            border: 0;
            position: absolute;
            top: 16px;
        }
    }
    .list-group {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30px;
        padding-left: 0;
        .list-group-item {
            border-radius: 0!important;
            background-color: #fff;
            font-size: 15px;
            display: inline-block;
            padding: 15px 0;
            color: #8b8e93;
            border: 0;
            margin: 0;
            border-bottom: 1px solid rgba(139,142,147,.25);
            a {
                font-size: 14px;
                font-weight: 400;
                position: relative;
                padding-left: 0;
            }
        }
    }
    .media {
        margin-top: 20px;
        img {
            height: 60px;
            width: 60px;
        }
        .media-body {
            padding: 0 20px;
            h6 {
                padding: 5px 0 10px;
            }
            a {
                color: #222;
            }
        }
    }
    .tags {
        border-color: #0cc652;
        margin-top: 30px;
        a {
            padding: 4px 10px;
            border-radius: 2px;
            color: #fff;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 8px;
            border: 1px solid;
            background-color: #0cc652;
            border-color: #0cc652;
            font-size: 12px;
            &:hover {
                background-color: #fff;
                color: #0cc652;
            }
        }
    }
    h4 {
        margin-top: 45px;
    }
}